@using Tricount.MVC.Models.DTO_s;
@model GroupDetailViewModel

<!-- Modal -->
<div class="modal fade" id="createInviteModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="createInviteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createInviteModalLabel">Send Group Invite -></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-area="Dashboard" asp-controller="Group" asp-action="PostCreateInvite" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="@Model.Invite.UserName">User To Invite</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="userNameAddon">@Html.Raw("@")</span>
                            <input class="form-control" type="text" asp-for="@Model.Invite.UserName" aria-describedby="userNameAddon" required />
                        </div>
                        <span asp-validation-for="@Model.Invite.UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Invite.GroupSlug">Selected Group</label>
                        <input type="hidden" asp-for="@Model.Invite.GroupSlug" value="@Model.Group.Slug" />
                        <input class="form-control" type="text" value="@Model.Group.Name - @Model.Group.Description" readonly />
                        <span asp-validation-for="@Model.Invite.GroupSlug" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>