@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using Tricount.BL.Abstract;
@using Tricount.Entities.Concrete;

@inject UserManager<User> userManager;
@inject IExpenseManager expenseManager;
@{
    var user = await userManager.GetUserAsync(User);

    var expensesRaw = expenseManager
        .GetAllInclude(e => e.PayerId == user.Id, e => e.ExpenseDetails)
        .Result;
    var expenses = await expensesRaw
        .Include(e => e.Group)
        .Include(e => e.Payer)
        .Include(e => e.Payment)
        .ToListAsync();

    var expenseDetailCount = 0;
    var expenseDetailBool = false;
    foreach (var expense in expenses)
    {
        if (expense.ExpenseDetails.Count > 0)
        {
            foreach (var expenseDetail in expense.ExpenseDetails)
            {
                if (expenseDetail.IsApproved == false && expenseDetail.IsPaid == true)
                {
                    expenseDetailBool = true;
                    expenseDetailCount++;
                }
            }
        }
    }
}

<!-- Modal -->
<div class="modal fade m-5" id="PaidConfirmationNotificationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="PaidConfirmationNotificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="PaidConfirmationNotificationModalLabel">Payment Confirmations</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (expenseDetailCount < 1)
                {
                    <label class="fs-5">You have no payment notifications.</label>
                }
                else
                {
                    if (expenseDetailBool)
                    {
                        <label class="fs-5">Expenditure Approvals</label>
                        foreach (var expense in expenses)
                        {
                            foreach (var expenseDetail in expense.ExpenseDetails)
                            {
                                if (expense.ExpenseDetails.Count > 0 && expenseDetail.IsApproved == false && expenseDetail.IsPaid == true)
                                {
                                    var debtor = userManager.FindByIdAsync(expenseDetail.DebtorId).Result;
                                    <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
                                        <label>Group: @expense.Group.Name</label>
                                        <label>Debtor: @debtor.UserName</label>
                                        <label>Description: @expense.Description</label>
                                        <label>Amount: @expenseDetail.Amount @expense.Group.DefaultCurrency</label>
                                        <label>Time: @expense.CreateDate.ToLongDateString() - @expense.CreateDate.ToLongTimeString()</label>
                                        <div class="d-flex w-25 gap-1 justify-content-center align-items-center">
                                            <a asp-area="Dashboard"
                                               asp-controller="Group"
                                               asp-action="DeniedInvite"
                                               asp-route-expenseId="@expense.Id"
                                               class="btn btn-danger p-2">
                                                Refuse
                                            </a>
                                            <a asp-area="Dashboard"
                                               asp-controller="Group"
                                               asp-action="AcceptInvite"
                                               asp-route-expenseId="@expense.Id"
                                               class="btn btn-success p-2">
                                                Approve
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>